<?link rel="stylesheet" type="text/css" href="/style.css"?>
<zk>
    <style>
        .fn-caption .z-caption-l{
        font-weight: bold;
        font-size: medium;
        color: #636363;
        }
    </style>
    <window border="normal" hflex="1" vflex="1" contentStyle="overflow:auto"
            apply="org.zkoss.zkspringmvc.demo.controller.SimpleTableController"
    >
        <caption sclass="fn-caption"
                 label="Some data to demo"/>
        <grid id="simpleTable" height="500px"
              emptyMessage="Nothing here!"
              mold="paging" pageSize="10"
        >
            <columns>
                <column label="ID"/>
                <column label="Mức độ bảo mật"/>
                <column label="Mã"/>
                <column label="Đơn vị bắt giữ"/>
                <column label="Ngày thụ lý"/>
                <column label="Người thụ lý"/>
                <column label="Kiểm sát viên"/>
                <column label="Nội dung"/>
                <column label="Khoản luật"/>
                <column label="Điều luật"/>
                <column label="Điểm luật"/>
                <column label="Hành động"/>
            </columns>

            <rows>
            </rows>
        </grid>
    </window>
</zk>

